/* Footer.css */

.footer-container {
  color: azure;
  box-sizing: border-box;
  padding: 20px;
  background-color: #202021;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}

.left-section,
.right-section {
  flex-basis: 50%;
  text-align: center;
}

.right-section {
  text-align: center;
}
.right-section button {
  background-color: #009fe3;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
}

.center-section {
  text-align: center;
  flex-basis: 100%;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

@media (max-width: 368px) {
  .footer-content {
    align-items: center;
  }

  .left-section,
  .right-section {
    flex-basis: 100%;
    text-align: center;
  }
}
