.Nav{
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    padding: 30px 170px  30px 170px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.1);
    
    /*position: fixed;
    position: fixed;
    width: 100%; /* Set the width to 100% of the viewport 
    z-index: 1000;*/
}

.NavbarWrapper{
 list-style-type: none;
 margin: 0;
 padding: 0;
 justify-content: center;
}

.NavLogo{
    color :#37447E;
    float: left;
    font-size: 25px;
    font-weight: 900;
    margin: -8px 2px 1px 15px;
    transition: 0.2s ease-in;
}

.NavElements{
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
}


.NavButton{
    float: right;
    background-color:rgb(10, 0, 41);
    padding: 7px 30px 7px 30px;
    margin: -8px 2px 1px 2px;

}
.NavButton:hover{
    
    cursor: pointer;

}

.Link{
    text-decoration: none;
    color: #37447E;

}
.Link:hover{
    cursor: pointer;
    color: #01d9ff;
    transition: 0.5ms;

}
.active{
    cursor: pointer;
    color: #01d9ff;
    
    transition: 0.5ms;

}
.Icon{
    display: none;
    font-size: 25px;
    cursor: pointer;
    
}
@media screen and (max-width:1090px){
    .Nav{
        padding: 25px 0px  25px 25px;
    }
        .NavElements{
            display: none;
        }
        .NavButton{
            display: none;
        }
        .Icon{
            display: inline;
            position: relative;
            left: 25%;
        }
        .NavLogo{
            margin: 0;
            transition: 0.2s ease-in-out;
        }
}