
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Added padding for smaller screens */
}

.App {
  text-align: center;
  max-width: 90%; /* Limit max width and center content */
  margin: auto;
}



.TodoWrapper {
  background: #313233;
  padding: 2rem;
  border-radius: 5px;
  width: 100%; /* Use full width of its container */
  max-width: 600px; /* Max width for larger screens */
  margin: 2rem auto; /* Centering and adding margin on top for space */
}

.TodoForm,
.EditTodoForm { /* Assuming EditTodoForm should also be responsive */
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%; /* Make input full width */
  color: #fff;
  resize: vertical; /* Allows vertical resizing, might limit or disable it */
  overflow: auto; /* Ensures text properly scrolls within the textarea */
}

.todo-btn {
  background: #746b86;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  width: 100%; /* Make button full width for consistency */
  margin-top: 0.5rem; /* Added margin for spacing */
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}


.fa-trash {
  margin-left: 0.75rem;
}

.completed, .incompleted {
  white-space: pre-wrap; /* Ensures whitespace and line breaks are preserved */
  word-break: break-word; /* Ensures long words do not cause overflow */
  cursor: pointer;
  flex: 1; /* Allows text to take up available space */
}


.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Adjustments for tablet and mobile screens */
  .todo-input, .todo-btn {
    width: calc(100% - 2rem); /* Adjust width to ensure padding does not cause overflow */
  }

  .TodoWrapper, .App {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}
